@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&display=swap');

:root {
  --cell-height: 80px;
  --cell-spacing: 20px;
  --row-label-font-weight: 700;
  --cell-font-weight: 400;
  --cell-font-size: 1.8em;
  --font-family: 'Kanit', monospace, sans-serif;
  --dark-background: #303030;
  --white: #faebd7;
  --red: #ff7f7e;
  --trash-hovering-border: 100px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Kanit', monospace, sans-serif;
  background-color: var(--dark-background);
  overflow: hidden;
}

.tier-label {
  font-size: 3em;
  display: 'inline-block';
  min-width: var(--cell-height);
  height: var(--cell-height);
  line-height: var(--cell-height);
  text-align: center;
  vertical-align: middle;
  font-weight: var(--row-label-font-weight);
}

.trash {
  position: absolute;
  visibility: visible;
  opacity: 1;
  top: 0;
  right: 0;
  transition: visibility 0s, opacity 0.5s ease-in;
}

.trash.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-out;
}

.trash img {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 4px;
  background: var(--red);
  border-radius: 100%;
  z-index: 100;
}

.trash.hovering {
  top: calc(-1 * var(--trash-hovering-border));
  right: calc(-1 * var(--trash-hovering-border));
}

.trash.hovering img {
  border: var(--trash-hovering-border) solid #000;
}

.thing-cell {
  margin: 0 var(--cell-spacing) 0 0;
  cursor: move;
  font-weight: var(--cell-font-weight);
  font-size: var(--cell-font-size);
  text-align: left;
  min-width: unset;
}

.dragging-over {
  opacity: 0.5;
}

.add-form {
  margin: 0;
  padding: 20px;
  color: var(--white);
  font-weight: 100;
}

input.add-thing,
input.add-thing:focus,
input.add-thing:active,
input.add-thing:focus-visible {
  font-size: 2em;
  font-family: var(--font-family);
  border: 0;
  background-color: var(--dark-background);
  color: var(--white);
  outline: none;
  border-bottom: 1px dotted var(--white);
}