@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&display=swap');

:root {
  --cell-height: 80px;
  --cell-spacing: 20px;
  --row-label-font-weight: 700;
  --cell-font-weight: 400;
  --cell-font-size: 1.8em;
  --font-family: 'Kanit', monospace, sans-serif;
  --dark-background: #303030;
  --white: #faebd7;
  --red: #ff7f7e;
  --trash-hovering-border: 100px;
  --search-item-dimension: 140px;
  --search-item-hover-mult: 1.5;
  --search-item-hover-dimension: calc(var(--search-item-dimension)*var(--search-item-hover-mult));
  --search-item-hover-border: 10px;
  --search-item-hover-border-radius: 0px;
  --search-item-hover-border-color: var(--white);
  --search-item-hover-margin: calc((var(--search-item-hover-dimension) - var(--search-item-dimension)) / 2 * -1 - var(--search-item-hover-border));
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Kanit', monospace, sans-serif;
  background-color: var(--dark-background);
  overflow-y: scroll;
}

.tier-list {
  position: sticky;
  top: 0;
}

.tier-row {
  display: flex;
  flex-direction: row;
}

.tier-list.dragging .tier-row {
  filter: grayscale(100%) brightness(40%);
}

.tier-list.dragging .tier-row.dragging-over {
  filter: none;
}

.tier-row.dragging-over *:nth-child(1) {
  color: var(--white);
  background-color: #000 !important;
}

.tier-label {
  font-size: 3em;
  display: 'inline-block';
  min-width: var(--cell-height);
  height: var(--cell-height);
  line-height: var(--cell-height);
  text-align: center;
  vertical-align: middle;
  font-weight: var(--row-label-font-weight);
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--cell-height);
}

.trash,
.settings {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in;
}

.trash.hidden,
.settings.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s ease-out;
}

.settings img {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 4px;
}

.trash img {
  width: 36px;
  height: 36px;
  padding: 17px;
  margin: 4px;
  border-radius: 40px;
  border-color: var(--red);
}

.trash {
  background: var(--red);
}

.trash:hover img {
  border-radius: 40px;
  border-color: var(--white);
}

.settings {
  background-color: var(--white);
  width: var(--cell-height);
  height: var(--cell-height);
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.settings input[type='text'],
.settings input[type='text']:focus,
.settings input[type='text']:active,
.settings input[type='text']:focus-visible {
  background-color: var(--white);
  color: var(--dark-background);
  border-bottom-color: var(--dark-background);
  height: 50px;
  margin-top: 15px;
}

.settings:hover {
  width: 160px;
  transition: width 0.4s ease-in-out;
}

.settings:hover img {
  transform: rotate3d(-2, 1, 3, 1080deg);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.trash.hovering {
  top: calc(-1 * var(--trash-hovering-border));
  right: calc(-1 * var(--trash-hovering-border));
}

.trash.hovering img {
  border: var(--trash-hovering-border) solid var(--red);
  border-radius: 100%;
  background-color: var(--red);
}

.thing-cell {
  cursor: grab;
  font-weight: var(--cell-font-weight);
  font-size: var(--cell-font-size);
  text-align: left;
  min-width: unset;
}

.thing-cell img {
  height: var(--cell-height);
  padding: 0;
  margin: 0;
}

.thing-cell span {
  margin: 0 var(--cell-spacing) 0 var(--cell-spacing);
}

form {
  margin: 0;
  padding: 20px;
  color: var(--white);
  font-weight: 100;
}

input[type='text'],
input[type='text']:focus,
input[type='text']:active,
input[type='text']:focus-visible {
  font-size: 2em;
  font-family: var(--font-family);
  border: 0;
  background-color: var(--dark-background);
  color: var(--white);
  outline: none;
  border-bottom: 1px dotted var(--white);
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.search-results .search-more {
  text-align: center;
  background: #000;
  cursor: pointer !important;
  vertical-align: middle;
  line-height: var(--search-item-dimension);
  color: var(--white);
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
}

.search-results img,
.search-results .search-more {
  height: var(--search-item-dimension);
  width: var(--search-item-dimension);
  object-fit: cover;
  top: 0;
}

.search-results img:hover,
.search-results .search-more:hover {
  position: relative;
  line-height: var(--search-item-hover-dimension);
  top: calc(var(--search-item-hover-margin));
  border: var(--search-item-hover-border) solid var(--search-item-hover-border-color);
  border-radius: var(--search-item-hover-border-radius);
  height: var(--search-item-hover-dimension);
  width: var(--search-item-hover-dimension);
  margin-left: var(--search-item-hover-margin);
  margin-right: var(--search-item-hover-margin);
  margin-bottom: calc(var(--search-item-hover-margin) * 2);
  cursor: grab;
}

.search-results .loader {
  width: 0;
  height: 4px;
  display: inline-block;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animFw 1s linear infinite;
}

.search-results .loader::after,
.search-results .loader::before {
  content: '';
  width: 10px;
  height: 1px;
  background: var(--red);
  position: absolute;
  top: 9px;
  right: -2px;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.3s linear infinite;
}

.search-results .loader::before {
  top: -4px;
  transform: rotate(45deg);
  animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }

  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }

  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}